<h2> Welcome to the members index page: </h2>

<ul>
  <% member.forEach(function(member)  { %>
      <li><a href="/member/show/<%= member.id %>"> <%= member.firstName %> </a> : <%= member.lastName %></li>
  <% }); %>

  <div class="container">
  	<h3>members</h3>
  	<table class='table'>
  		<tr>
  			<th>ID</th>
  			<th>Name</th>
  			<th>Title</th>
  			<th>Email</th>
  			<th></th>
  			<th></th>
  			<th></th>
  		</tr>


  		<% _.each(members, function(member) { %>
  		<tr data-id="<%= member.id %>" data-model="member">
  			<td><%= member.id %></td>
  			<td><%= member.name %></td>
  			<td><%= member.title %></td>
  			<td><%= member.email %></td>
  			<td><a href="/member/show/<%= member.id %>" class="btn btn-sm btn-primary">Show</a></td>
  			<td><a href="/member/edit/<%= member.id %>" class="btn btn-sm btn-warning">Edit</a></td>
  			<td><form action="/member/destroy/<%= member.id %>" method="POST">
  				<input type="hidden" name="_method" value="delete"/>
  				<input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
  				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
  			</form>
      </tr>
  		<% }) %>
  	</table>
  </div>
