<form action="/member/create" method="POST" class="form-signin">
	<h2> Sign Up Here to have full access as Genius Factory Member! </h2>
  <h4> Create a member account </h4>

	<%= if(flash && flash.err) { %>
		<ul class="alert alert-success">
	<%= Object.keys(flash.err).forEach(function(error) { %>
		<li><%= JSON.stringify(flash.err[error]) %></li>
	<%= }) %>
	</ul>
	<%= } %>


	<input type="text" class="input-block-level" placeholder="your first name" name="firstName">

  <input type="text" class="input-block-level" placeholder="your last name" name="lastName">

	<input type="text" class="input-block-level" placeholder="Please type Parent/Student/Tutor" name="title">

  <input type="number" class="input-block-level" placeholder="Your zipcode" name="zipCode">


	<input type="text" class="input-block-level" placeholder="valid email address" name="email">

	<input type="password" class="input-block-level" placeholder="Create a password" name="password" id="password">

	<input type="password" class="input-block-level" placeholder="Re-enter password" name="confirmation">
	<br />

	<input type="submit" class="btn btn-large btn-primary" value="Create member"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
